body {
  font-family: "Avenir Next";
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 120px;
}

.header-logo {
  float: left;
  font-size: 80px;
  padding: 20px 40px;
}

.main-tag1 {
  float : left;
  font-size: 50px;
  color: #0000FF;
  padding: 20px 40px
}
.main-tag2 {
  float : left;
  font-size: 50px;
  color: #FF0000;
  padding: 20px 40px
}
.main-tag3 {
  float : left;
  font-size: 50px;
  color: #00FF00;
  padding: 20px 40px
}
